.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 4px 4px 22px 0px rgba(0, 0, 0, 0.2);
  padding: 54px 32px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .card {
    padding: 32px 28px;
  }
}
