/* styles/loader.module.css */
body.no-scroll {
  overflow: hidden;
}

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* White background with transparency */
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* A big z-index to make sure the loader is on top */
}

.loader {
  border: 4px solid #f3f3f3; /* Light gray border for the spinner */
  border-top: 4px solid #7ddec1; /* Blue border for the spinning part */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite; /* Animation to make the spinner spin */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
