.background {
  background: url('/Images/how-it-works-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  width: 100vw;
  height: 500px;
  object-fit: cover;
}

/* @media screen and (max-width: 768px) {
  .background {
    background: url('/Images/how-it-works-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    width: 99vw;
    height: 100vh;

  }
}
     */
