.signup {
  background: url('/Images/sign-in-background.webp') center / cover no-repeat;
  min-height: 100vh;
  height: auto;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .signup {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url('/Images/sign-in-background.webp') center / cover no-repeat,
      lightgray -245.438px -0.282px / 518.318% 100.038% no-repeat;
    min-height: 100vh;
    height: auto;
    padding-bottom: 30px;
  }
}
